body {
  color: #efefef;
}

h1 {
	text-align: center;
  padding: 2em;
  font-size: 3em;
}

.progress {
  position: relative;
  overflow: visible;
}

.skill-item {
  padding: 1em;
}

i {
  content: '';
  position: absolute;
  bottom: -100%;
  text-align: center;
  left: -10%;
	font-size: 3em;
	margin: 0 auto;
  z-index: 999;
  padding: 10px;
  border-radius: 50%;
  background: #67AAF9;
}

.bg-success {
  background-color: #67AAF9!important;
}

.progress-txt {
  padding-top: 2em;
  padding-bottom: 3em;
}


